{% extends "base.html.j2" %}
{% block mainhead %}
<!-- Add sub-section wide scripts and styles here -->
{% block head %}{% endblock head %}
{% endblock mainhead %}

{% block maincontent %}
{% block content %}{% endblock content %}
{% endblock maincontent %}