{% extends 'home/base.html.j2' %}
{% block content %}
<div class="row">
	<div class="col-xs-12">
		{% for record in data %}
		<pre class="well records">{{ record }}</pre>
		{% endfor %}
	</div>
</div>
{% endblock %}