{% extends 'home/base.html.j2' %}
{% from "macros.html.j2" import render_tile with context %}
{% block head %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
{% endblock head %}
{% block content %}
<div class="flex-row row">
	{% for movie in data %}
		{{ render_tile(movie, user) }}
	{% endfor %}
</div>
{% endblock %}