{% extends "user/base.html.j2" %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Title</div>
            <div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quod, fugiat, explicabo modi magni corporis aliquid sunt soluta deserunt et quae! Magnam dolorum architecto obcaecati doloribus! Minus animi veritatis error.</div>
        </div>
    </div>
</div>
{% endblock content %}