{% extends "user/base.html.j2" %}
{% from "macros.html.j2" import render_tile with context %}
{% block head %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<link href="{{ url_for('static', filename='css/slider.css') }}" rel="stylesheet">
{% endblock head %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
<script src="{{ url_for('static', filename='js/trigger.js') }}"></script>
{% endblock scripts %}
{% block content %}
<div class="row">
    <div class="jumbotron">
        <h2>Rate the following <small>Recommendations will be personalized on this basis</small></h2>
    </div>
    <div class="flex-row row">
    {% for movie in data %}
        {{ render_tile(movie, user) }}
    {% endfor %}
    </div>
</div>
{% for title, target, color in [('User - User', 'user', 'primary'),
                                ('Item - Item', 'item', 'danger'),
                                ('Matrix Factorization', 'matrix', 'success')] %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-{{ color }}">
            <div class="panel-heading"><h4><strong>{{ title }}</strong> Collaborative Filtering</h4></div>
            <div class="panel-body movie-holder" data-target="{{ target }}"></div>
            <div class="panel-footer">
                <button class="btn btn-{{ color }} btn-block recommend_trigger" data-trigger="{{ target }}">Compute!</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
