{% extends "user/base.html.j2" %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Rate the following</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quod, fugiat, explicabo modi magni corporis aliquid sunt soluta deserunt et quae! Magnam dolorum architecto obcaecati doloribus! Minus animi veritatis error.</div>
            <div class="panel-footer">
                <button class="btn btn-default btn-block">Compute!</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>User - User Collaborative Filtering</h4></div>
            <div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quod, fugiat, explicabo modi magni corporis aliquid sunt soluta deserunt et quae! Magnam dolorum architecto obcaecati doloribus! Minus animi veritatis error.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-danger">
            <div class="panel-heading"><h4>Item - Item Collaborative Filtering</h4></div>
            <div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quod, fugiat, explicabo modi magni corporis aliquid sunt soluta deserunt et quae! Magnam dolorum architecto obcaecati doloribus! Minus animi veritatis error.</div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading"><h4>Matrix Factorization</h4></div>
                <div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quod, fugiat, explicabo modi magni corporis aliquid sunt soluta deserunt et quae! Magnam dolorum architecto obcaecati doloribus! Minus animi veritatis error.</div>
            </div>
        </div>
    </div>

{% endblock content %}