<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MRS - {{ title }}</title>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
	<!-- stylsheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
 	 	main {
    		flex: 1 0 auto;
  		}
		body {
			 display: flex;
    		min-height: 100vh;
    		flex-direction: column;
			font-family: 'Roboto' sans-serif !important;
		}
		h1, h2, h3, h4, h5, h6 {
			font-family: 'Oswald' sans-serif !important;
		}
	</style>
	<!-- scripts -->
	<script src=https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% block mainhead %}{% endblock mainhead %}
</head>

<body style="background-color: #EEEEEE;">
	{% block maincontent %}{% endblock maincontent %}
	{% block scripts %}{% endblock scripts %}
</body>
</html>